= form_for @trip do |f|
  - if @trip.errors.any?
    .alert.alert-danger
      %h2= "#{pluralize(@trip.errors.count, "error")} prohibited this trip from being saved:"
      %ul
        - @trip.errors.full_messages.each do |message|
          %li= message

  .form-group
    = f.text_field :price, placeholder: :price, class: "form-control", autocomplete: "off"
  .form-group
    = f.text_field :origin, placeholder: :origin, class: "form-control", autocomplete: "off"
  .form-group
    = f.text_field :destination, placeholder: :destination, class: "form-control", autocomplete: "off"
  .form-group
    = f.number_field :seats, placeholder: :seats, class: "form-control", autocomplete: "off"
  .form-group
    = f.submit 'Save', class: "btn btn-success"
    = link_to 'Cancel', trips_path, class: "btn btn-danger"
