%h1.text-center.mb-4.mt-4 Destination list

- if @destinations.blank?
  .alert.alert-info There are no trips yet
- else
  .row
    .col-12.col-md-6.offset-md-3
      .list-group
        - @destinations.each do |destination|
          = link_to destination, trips_path(destination: destination), class: "list-group-item list-group-item-action"
