%h1.text-center.mt-4 Find a trip
%h3.text-center.mb-4 Where do you want to travel?
- if Trip.count == 0
  .alert.alert-info
    There are no trips available
- else
  = form_tag search_trip_path do
    .row
      .col-12.col-md-4.offset-md-1.form-group
        = label_tag "Origin"
        = select_tag "origin", origins_for_select, class: "form-control"
      .col-12.col-md-4.form-group
        = label_tag "Destination"
        = select_tag "destination", destinations_for_select, class: "form-control"
      .col-12.col-md-2
        = submit_tag "Find my trip", class: "btn btn-primary"
