%h1.text-center.mb-4.mt-4
  - if @destination
    Trips to
    = @destination
  - else
    All trips

- if @trips.blank?
  .alert.alert-info
    There are no trips yet
- else
  .row
    .col-12.col-md-8.offset-md-2
      %table.table.table-hover.table-borderless
        %thead
          %tr
            %th{scope: "col"} Origin
            %th{scope: "col"} Destination
            %th{scope: "col"} Price
            %th{scope: "col"} Available seats
            %th{scope: "col"} Actions
        %tbody
          - @trips.each do |trip|
            %tr{class: trip.full? ? "table-danger" : "table-success"}
              %td=trip.origin
              %td=trip.destination
              %td=trip.price_formatted
              %td=trip.seats - trip.booked_seats
              %td
                = link_to 'Details', trip
                |
                = link_to 'Edit', edit_trip_path(trip)
                |
                = link_to 'Delete', trip, method: 'delete'
                |
                = link_to 'Clear', clear_trip_path(trip), method: 'put'
