%h1.text-center.mt-4.mb-4="Trips from #{@origin} to #{@destination}"
= link_to 'New search', find_trip_path, class: "btn btn-success"
- if @trips.blank?
  .alert.alert-danger
    There were no results for this search
- else
  .row
    .col-12.col-md-8.offset-md-2
      %table.table.table-hover.table-borderless
        %thead
          %tr
            %th{scope: "col"} Origin
            %th{scope: "col"} Destination
            %th{scope: "col"} Price
            %th{scope: "col"} Available seats
            %th{scope: "col"} Book a seat
        %tbody
          - @trips.each do |trip|
            %tr{class: trip.full? ? "table-danger" : "table-success"}
              %td=trip.origin
              %td=trip.destination
              %td=trip.price_formatted
              %td=trip.seats - trip.booked_seats
              %td
                - if trip.full?
                  %small.text-muted No seats available
                - else
                  = link_to 'Book', book_seat_path(trip), class: "btn btn-primary"
