%h1.text-center.mb-4.mt-4="Trip from #{@trip.origin} to #{@trip.destination}"

.row
  .col-12.col-md-5.offset-md-1
    .card
      .card-header
        %h3 Trip details
      .card-body
        %table.table.table-borderless
          %tbody
            %tr
              %th{scope: "row"} Origin
              %td=@trip.origin
            %tr
              %th{scope: "row"} Destination
              %td=@trip.destination
            %tr
              %th{scope: "row"} Price
              %td=@trip.price_formatted
            %tr
              %th{scope: "row"} Total seats
              %td=@trip.seats
            %tr
              %th{scope: "row"} Available seats
              %td=@trip.available_seats
      .card-footer
        = link_to 'Edit', edit_trip_path(@trip), class: 'card-link'
        = link_to 'Delete', @trip, method: 'delete', class: 'card-link'
        = link_to 'Clear', clear_trip_path(@trip), method: 'put', class: 'card-link'
  .col-12.col-md-5
    .card
      .card-header
        %h3 Seats map
      .card-body
        - @trip.seats.times do |seat|
          - if seat % 5 == 0
            %br
          = link_to '', seat < @trip.available_seats ? book_seat_path(@trip) : unbook_seat_path(@trip), class: seat < @trip.available_seats ? "btn btn-success" : "btn btn-danger", method: 'put'
