- if @trip.errors.any?
  .alert.alert-danger
    %h2= "#{pluralize(@trip.errors.count, "error")}:"
    %ul
      - @trip.errors.full_messages.each do |message|
        %li= message
    = link_to 'Try again', edit_trip_path(@trip)
- else
  .alert.alert-info
    The trip was successfully updated
    = link_to 'See trip', @trip
