%nav.navbar.navbar-expand.navbar-light.bg-light
  = link_to 'Trips manager', root_path, class: 'navbar-brand'
  %button.navbar-toggler{type: "button", "data-toggle": "collapse", "data-target": "#navbarNav", "aria-controls": "navbarNav", "aria-expanded": "false", "aria-label": "Toggle navigation"}
    %span.navbar-toggler-icon
  .collapse.navbar-collapse#navbarNav
    %ul.navbar-nav
      %li.navbar-item
        = link_to 'All trips', trips_path, class: "nav-link"
      %li.navbar-item
        = link_to 'Find a trip', find_trip_path, class: "nav-link"
      %li.navbar-item
        = link_to 'Destinations', destinations_path, class: "nav-link"
  = link_to 'New trip', new_trip_path, class: "btn btn-primary"
